body{
	background: white url("images/background.png");
}

.navbar{
	border-radius: 0;
}

.navbar-brand{
	font-family: 'Satisfy', cursive;
}

.img-container{
	/*background: black;*/
	margin: 1px;
}

img{
	margin: 2px;
	padding-bottom: 5px;
}
