body{
	background: white url("images/background.png");
}

.navbar{
	border-radius: 0;
}

.navbar-brand{
	font-family: 'Satisfy', cursive;
}

.img-container{
	background: LightGray;BurlyWood;
	position: relative;
}

.caption{
	background: transparent;
	background-color: white;
	z-index: 1;
	position: absolute;
	opacity: 0.5;
	bottom: 0%;
	left: 0%;
	width: 100%;
	text-align: center;
}

.img-option-edit{
	display: none;
	position: absolute;
	top: 0;
	/*left: 0;*/
}

.img-container:hover .img-option-edit{
	display: block;
}