{% extends 'image/base.html' %}
{% block title %}Label{% endblock%}


{% block body %}
	<div class="container-fluid" style="display: flex;">
	{% if img %}
		<div class="col-sm-offset-1 col-sm-1 col-md-6" style="position: relative; align-items: center; padding: 0px;">
			{% if not img.source %}
				<img src="{{img.source}}" class="" height="720px">	
			{% else %}
				<img src="{{img.file.url}}" class="" height="720px">
			{% endif %}
		</div>

		<div class="col-sm-1 col-md-6" style="">
			<h4>Labels:</h4>
			<ul>
				{% for label in img.label_set.all %}
					<li>{{ label.attribute.cat }} : {{ label.attribute.value }}</li>
				{% endfor %}
			</ul>
			<label id="label"></label><br>
			<a href="{% url 'annotator:index' %}">
				<button class="btn btn-primary">Submit</button>
			</a>
			<button class="btn" onclick="drawCanvas(this.parentNode.parentNode);">Draw</button>
		</div>
	{% else %}
		<label>Invalid image id</label>
	{% endif %}
	</div>
{% endblock %}


<!-- <form action="{% url 'annotator:label' img.id %}" method="post">
		{% csrf_token %}
		{% for label in img.label_set.all %}
			<input type="radio" id="{{ forloop.counter }}" name="label" value="{{label.id}}">
			<label for="label{{forloop.counter}}">
				{{label.attribute.cat.name}}
			</label>
		{% endfor %}
		<input type="submit" name="" value="Save">
	</form> -->